body{
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: hsl(233, 47%, 7%);
 font-family: Arial, Helvetica, sans-serif;
}

p,h3,h4{
 margin: 0;
}

.main-container{
 background-color: hsl(244, 38%, 16%);
 box-sizing: border-box;
 border-radius: 15px;
 margin: 40px 30px;

}

.second-container{
 padding-top: 30px;
 padding-bottom: 10px;
 padding-left: 25px;
 padding-right: 25px;
}

.image-container{
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 filter: opacity(0.3)  drop-shadow(0 0 0 hsl(277, 64%, 61%));
 -webkit-filter: opacity(0.3)  drop-shadow(0 0 0 hsl(277, 64%, 61%));
 }
 

h3{
 color: white;
 font-size: 1.65rem;
}

.insights{
 color: hsl(277, 64%, 61%);
}

.main-text{
 margin-top: 20px;
 margin-bottom: 27px;
 font-size: .95rem;
 color: hsla(0, 0%, 100%, 0.75);
 line-height: 1.5;
 word-break: keep-all;
}

h4{
 color: white;
 font-weight: bold;
 font-size: 1.5rem;
}

.companies, .templates, .queries{
 margin-bottom: 20px;
}

.companies p, .templates p, .queries p{
 font-size: .7rem;
 letter-spacing: 1px;
 margin-top: 5px;
 color: hsla(0, 0%, 100%, 0.75);
}
 

@media(min-width: 940px) {
 .main-container{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 700px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 45px;
  margin-right: 45px;
  
 }
 
 .image-container{
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 }
 
 .numbered-class{
  display: flex;
  margin-bottom: 20px;
 }
 
 .second-container{
  padding: 0;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 80px;
  padding-bottom: 10px;
 }
 
.companies h4, .templates h4{
  text-align: left;
  margin-bottom: 0;
 }
 
 .templates{
  margin-left: 70px;
  margin-right: 70px;
 }
 
 h3, .main-text{
  text-align: left;
 }
 
 h3{
  font-size: 2.5rem;
  line-height: 1.2;
 }
 
 
 .main-text{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 15px;
  word-wrap: break-word;
  line-height: 1.5;
 }
 
}

